
@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    width: 20rem;
    background: #bababa;
    padding: 1rem;
    border-radius: 0.5rem;
}
.calculator{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.keys{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-one{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.line-one, .line-two, .line-three, .line-four, .container-two{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.space{
    height: 5rem;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.clear-all, .delete, .divide, .multiply, .number-seven, .eight, .nine, .sub, .four, .five, .six, .more, .one, .two, .three, .equal{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.2rem;
}
.zero, .comma{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.2rem;
}
span{
    background: #2a2a2a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
    cursor: default;
    font-weight: 600;
}
span:hover{
    background: #000;
    transition: all 0.5s ease;
}
.delete-icon{
    width: 1.2rem;
    padding: 0.2rem;
}
.multiply-icon{
    width: 1.1rem;
}
.divide-icon{
    width: 1.1rem;
    padding: 0.1rem;
}
.first-value span, .option span, .second-value span{
    background: #000;
    font-size: 25px;
}
.second-value{
    margin-right: 0.5rem;
}